venv/
.venv/
.DS_Store
.token
*.onnx
*.pt
*.pth
*.ckpt
runs/
**/*.jpg
**/__pycache__
.pytest_cache/
*.log
data/raw/
data/face_dataset*/data/
data/positives_original/
data/negatives_original/
reports/**/crops/
